body,
h1,
h4,
h5 {
    margin: 0;
}

h4 {
    color: green;
}

h5 {
    color: red;
}

main {
    color: indigo;
    font-style: italic;
}

a[href^="https"] {
    background-image: url(img/extref.png);
    background-repeat: no-repeat;
    float: left;
    padding-left: 10px;
}

footer {
    margin-top: 20px;
}