body,
h1,
h4,
h5 {
    margin: 0;
}

h4 {
    color: green;
}

h5 {
    color: red;
}

main {
    color: indigo;
    font-style: italic;
}

a::before {
    content: url(img/extref.png);
}

footer {
    margin-top: 20px;
}