body>article {
    font-family: 'Bodoni Moda', serif;
    font-size: 22px;
    word-spacing: 3%;
    letter-spacing: 1px;
    text-indent: 50px;
    margin: 30px;
    padding: 30px;
    text-align: justify;
}

article:nth-child(2) {
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    word-spacing: 5%;
    letter-spacing: 5px;
    margin-top: 30px;
    text-indent: 50px; 
}

article::first-letter{
    color: #ff8c00;
    font-weight: bolder;
    font-size: 45px;
}

h1 {
    color: #cc21a7;
    text-align: center;
}

h2 {
    color: #3128aa;
    text-align: center;
}

a:hover {
    color: #cf112a;
}

a:visited {
    color: #008000;
    text-decoration: none;
}

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}

[data-title]:after {
    content: attr(data-title);
    position: absolute;
    bottom: -1.8em;
    right: 50%;
    padding: 4px 4px 4px 8px;
    color: #222;
    white-space: nowrap; 
    border-radius: 5px;  
    box-shadow: 0px 0px 4px #522929;  
    background-image: -webkit-linear-gradient(top, #f8f8f8, #cccccc);  
    opacity: 0;
  
}
[data-title] {
    position: relative;
}
