.logo>img {
    width: 200px;
    margin-left: 10px;
}

.tel {
    width: 200px;
}

.logo,
.name,
.tel {
    display: inline-block;
    margin: 0 40px;
}

.tel {
    align-items: center;
}

.name {
    font-family: 'Lobster', cursive;
    width: 50%;
}

.header {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    border-bottom: 2px double chocolate;
}

.title-contacts {
    color: darkblue;
    font-weight: bolder;
}

h1 {
    color: darkmagenta;
}

.main-page {
    color: #775d09;
    text-align: justify;
    font-size: 1.2em;
    font-weight: bolder;
}

.ourservis {
    background-image: url(/les-Site/assets/img/coffee-beans-kofe-zerna-5.jpg);
    opacity: .5;
    text-transform: capitalize;
}

.navigation-bar {
    border-bottom: 2px double chocolate;
    padding: 15px;
}

.footer {
    width: 50%;
    padding: 5px;
    margin-top: 25px;
}

.footer-menu,
.dev {
    display: inline-block;
    padding: 5px;
}

.call {
    color: red;
    font-size: larger;
}

.content {
    border-width: 0;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}

.call-form {
    background-color: cadetblue;
    display: inline-block;
    text-align: center;
    font-weight: bolder;
    border-radius: 4px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"] {
    width: 100%;
    padding: 5px 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    border: 1px solid red;
    box-sizing: border-box;
}

.gender {
    display: inline-block;
    word-spacing: 5em;
    color: darkblue;
    width: 100%;
}

label {
    padding: 5px;
    display: inline-block;
}

.form {
    text-align: left;
}

button:hover {
    background-color: #45a049;
    border-radius: 5px;
}

ul {
    font-size: 20px;
    list-style-type: none;
    color: darkolivegreen;
}

.ourservis {}