@font-face {
  font-family: fontawesome-webfont;
  src: url(assets/fonts/fontawesome-webfont.eot); /* IE */
  src: url(assets/fonts/fontawesome-webfont.svg); /* Legacy iOS */
  src: url(assets/fonts/fontawesome-webfont.ttf); /* Safari, Android, iOS */
  src: url(assets/fonts/fontawesome-webfont.woff); /* Modern Browsers */
  src: url(assets/fonts/fontawesome-webfont.woff2); /* Modern Browsers */
}

@font-face {
  font-family: glyphicons-halflings-regular;
  src: url(assets/fonts/glyphicons-halflings-regular.eot); /* IE */
  src: url(assets/fonts/glyphicons-halflings-regular.svg); /* Legacy iOS */
  src: url(assets/fonts/glyphicons-halflings-regular.ttf); /* Safari, Android, iOS */
  src: url(assets/fonts/glyphicons-halflings-regular.woff); /* Modern Browsers */
  src: url(assets/fonts/glyphicons-halflings-regular.woff2); /* Modern Browsers */
}

@font-face {
  font-family: icon-font;
    src: url(assets/fonts/icon-font.eot); /* IE */
    src: url(assets/fonts/icon-font.svg); /* Legacy iOS */
    src: url(assets/fonts/icon-font.ttf); /* Safari, Android, iOS */
    src: url(assets/fonts/icon-font.woff); /* Modern Browsers */
    src: url(assets/fonts/icon-font.woff2); /* Modern Browsers */
}

html, body {
  width: 100%;
  max-width: 1920px;
  height: 100vh; /* Высота */
  margin: 0; /* Убираем отступы у веб-страницы */
  font-size: 16px;
 }

/*on load page*/
.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: #fff;
    z-index: 2;
  }
  
.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin-top: -30px;
  margin-left: -30px;
  background: url('assets/images/preloader.gif') no-repeat 50% 50%;
}
  
.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}
  
.loaded .preloader {
  display: none;
}

/*style content*/

.content-first {
  position: relative;
  height: 100vh;
  
}

.bg {
  width: 100%;
  height: 85vh;
  position: absolute;
  background-image: url('assets/images/bg-5.jpg');
  background-color: #cccccc; /* Used if the image is unavailable */
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(60%);
  z-index: 1;
}

header {
  display: flex;
  position: relative;
  justify-content: space-between;
}
  
.logo {
  font-weight: bold;
}

a {
  text-transform: uppercase;
}

.main-ind-page {
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

.main-ind-page h1 {
  font-size: 5rem;
}

.main-ind-page h3 {
  font-size: 1.1rem;
  width: 50%;
  height: 10%;
  justify-content: center;
  margin-left: 25%;
}

.header-ind-page, a, .main-ind-page  {
  position: relative;
  z-index: 2;
  color: #fff;
  font-family: fontawesome-webfont;
  padding: 10px;
}


button {
  text-transform: uppercase;
  text-align: center;
  background-color:  #2cd39d; /* Green */
  border: none;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 10px;
  transition-duration: 0.4s;
  cursor: pointer;
}

nav button {
  text-transform: uppercase;
  background-color: transparent;
  font-weight: bold;
  padding: 10px;
}

.content-nav a>button:hover {
  color: #2cd39d;;
  background-color: transparent;
}

button:hover {
  background-color:  #30f0b3; /* Green */
  color:  #706f6f;
}

.slider-one {
  position: absolute;
  height: 15vh;
  width: 160px;
  margin-top: 20px;
  z-index: 2;
  font-family: fontawesome-webfont;
  font-weight: bold;
  text-align: center;
  bottom: 0;
  left: calc(50% - 80px);
  
}

.bg-point{
  display: inline-block;
  width: 40px;
  height: 10px;
  background-color: #808080;
  background-repeat: repeat-x;
  padding-right: 5px;
}

.bg-point:nth-child(3), .contacts-head:nth-child(3) {
  background-color: #2cd39d;
}


/*content-second*/
/* best-cervices*/

.content-second {
  width: 100%;
  height: 100vh;
}


.services {
  display: grid;
  width: 100%;
  height: 80vh;
  grid-template:
  "svg-icon-1 svg-icon-2 svg-icon-3" 1fr
  "item1 item2 item3" 3fr
  "svg-icon-4 svg-icon-5 svg-icon-6" 1fr
  "item4 item5 item6" 3fr
  "footer-services footer-services footer-services" 3fr
  ;
  text-align: center;
  margin-top: 25px;
  justify-items: center;
  align-items: center;
  column-gap: 100px;
  box-sizing: border-box;
}

.item-servis-name {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}   


 

/* SVG-icons*/

.svg-icon-1,
.svg-icon-2,
.svg-icon-3,
.svg-icon-4,
.svg-icon-5,
.svg-icon-6 {
  width: 100px;
  height: 100px;
}

.svg-icon-1 {
   fill: red;  
}

.svg-icon-2 {
  fill: rgb(56, 180, 221);  
}
.svg-icon-3 {
  fill: rgb(167, 167, 53);  
}

.svg-icon-4 {
  fill: violet;  
}

.svg-icon-5 {
  fill: red;  
}

.svg-icon-6 {
  fill: green;  
}

.icon-servis.svg-icon-1 {
  grid-area: svg-icon-1;
}

.icon-servis.svg-icon-2 {
  grid-area: svg-icon-2;
}

.icon-servis.svg-icon-3 {
  grid-area: svg-icon-3;
}

.icon-servis.svg-icon-4 {
  grid-area: svg-icon-4;
}

.icon-servis.svg-icon-5 {
  grid-area: svg-icon-5;
}

.icon-servis.svg-icon-6 {
  grid-area: svg-icon-6;
}

.item-servis-one {
  grid-area: item1;
  }

.item-servis-two {
  grid-area: item2;
}

.item-servis-three {
  grid-area: item3;
}
.item-servis-four {
  grid-area: item4;
}

.item-servis-five {
  grid-area: item5;
}

.item-servis-six {
  grid-area: item6;
}

.slider-two {
  grid-area: footer-services;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
}

.slider-two-svg {
  grid-area: svg;
  position: relative;
}

.bg-slider-two {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url('assets/images/bg-4.jpg');
  background-size: cover;
  filter: brightness(50%);
  z-index: 1;
}

.slider-two-content {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template:
  "svg" 2fr
  "content-slider-two"2fr
  "name"1fr
  "slider-point" 1fr
  ;
  box-sizing: border-box;
  justify-items: center;
  align-items: center;
  row-gap: 30px;
  position: relative;
  z-index: 2;
}


.slider-two-text {
  grid-area: content-slider-two;
  width: 50%;
  color:rgb(201, 199, 199);
}

.slider-two-name {
  grid-area: name;
  color: rgb(51, 211, 184);
}

.slider-two-points {
  grid-area: slider-point;
}

.svg-dragon {
  width: 50px;
  height: 50px;
  color: #2cd39d;;
  padding-top: 20px;
}

.slider-two-points>div.bg-point {
  width: 10px;
  height: 10px;
  background-color: #778899;
  border-radius: 100%;
}

.slider-two-points div:first-child,
.slider-two-points div:last-child { 
  background-color: #808080;
}
  
  /*contact-us*/

.contacts-head {
  justify-self: center;
  text-align: center;
  padding: 25px;
  position: relative;
  z-index: 2;
}


.contacts {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-area: 
    "title-contact" 1fr
    "form-contact" 4fr
    /1fr
  ;
  margin-top: 150px;
  
}

.main-contacts-form {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-area: 
    "title-contact" 1fr
    "form-contact" 4fr
    /1fr
    ;
  box-sizing: border-box;
  padding-left: 100px;
  padding-right: 100px;
  
}

.contacts-form {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: 
    "label-input-name label-input-email" 0.5fr
    "input-name input-email" 1fr
    "label-input-message label-input-message" 0.5fr
    "input-message input-message" 4fr
    "lorem-form lorem-form" 1fr
    "submit-form submit-form" 1fr
    /1fr 1fr
    ;
  padding: 15px;
  box-sizing: border-box;
  gap: 15px 10px;  
}

input, textarea {
  border: 2px #808080 solid;  
}
label[for="name"] {
  grid-area: label-input-name;
}

input[type="text"] {
  grid-area: input-name;
}

label[for="email"] {
  grid-area: label-input-email;
}

input[type="email"] {
  grid-area: input-email;
}

label[for="message"] {
  grid-area: label-input-message;
}

textarea[id="message"] {
  grid-area: input-message;
}

.lorem-form {
  grid-area: lorem-form;
  width: 45%;
  justify-self: center;
  text-align: center;
}

.submit {
  grid-area: submit-form;
  justify-self: center;
  padding: 10px;
}

label {
  font-weight: bold;
}
  

/* footer*/

.footer-contact-us {
  min-height: 30vh;
  display: grid;
  grid-template:
    "left-up center-up right-up" 1fr
    "left-center center-center right-center" 1fr
    "left-center center-down right-down" 1fr
    "bottom bottom bottom" 1fr
    /1fr 1fr 1fr
  ;
  gap: 10px 10px;
  background-color: #d7dadb;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.item1 {
  grid-area: left-up;
}

.item2 {
  grid-area:center-up;
}

.item3 {
  grid-area: right-up;
}

.item4 {
  grid-area: center-center;
}

.item5 {
  grid-area: right-center;
}
.item6 {
  grid-area: left-center;
}

.item7 {
  grid-area:center-down;
}

.item8 {
  grid-area:right-down;
  
}

.footer-black-line {
  grid-area: bottom;
  width: 100%;
  height: 100%;
  background-color: black;
  color: cornsilk;
  padding-top: 10px;
 }

.footer-contact-us .title {
  text-transform: uppercase;
}

.footer-contact-us button {
  padding: 10px;
}
