@font-face {
  font-family: fontawesome-webfont;
  src: url(assets/fonts/fontawesome-webfont.eot); /* IE */
  src: url(assets/fonts/fontawesome-webfont.svg); /* Legacy iOS */
  src: url(assets/fonts/fontawesome-webfont.ttf); /* Safari, Android, iOS */
  src: url(assets/fonts/fontawesome-webfont.woff); /* Modern Browsers */
  src: url(assets/fonts/fontawesome-webfont.woff2); /* Modern Browsers */
}

@font-face {
  font-family: glyphicons-halflings-regular;
  src: url(assets/fonts/glyphicons-halflings-regular.eot); /* IE */
  src: url(assets/fonts/glyphicons-halflings-regular.svg); /* Legacy iOS */
  src: url(assets/fonts/glyphicons-halflings-regular.ttf); /* Safari, Android, iOS */
  src: url(assets/fonts/glyphicons-halflings-regular.woff); /* Modern Browsers */
  src: url(assets/fonts/glyphicons-halflings-regular.woff2); /* Modern Browsers */
}

@font-face {
  font-family: icon-font;
    src: url(assets/fonts/icon-font.eot); /* IE */
    src: url(assets/fonts/icon-font.svg); /* Legacy iOS */
    src: url(assets/fonts/icon-font.ttf); /* Safari, Android, iOS */
    src: url(assets/fonts/icon-font.woff); /* Modern Browsers */
    src: url(assets/fonts/icon-font.woff2); /* Modern Browsers */
}

html, body {
  height: 100%; /* Высота */
  margin: 0; /* Убираем отступы у веб-страницы */
 }

/*on load page*/
.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: #fff;
    z-index: 2;
  }
  
.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin-top: -30px;
  margin-left: -30px;
  background: url('assets/images/preloader.gif') no-repeat 50% 50%;
}
  
.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}
  
.loaded .preloader {
  display: none;
}

/*style content*/

.content-first {
  position: relative;
  height: 100vh;
  
}

.bg {
  width: 100%;
  height: 85%;
  position: absolute;
  background-image: url('assets/images/bg-5.jpg');
  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: 50% 0;
  top:0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  filter: contrast(80%);
  z-index: 1;
}

header {
  display: flex;
  position: relative;
  justify-content: space-between;
}
  
.logo {
  font-weight: bold;
}

.logo, nav {
  font-size: 25px;
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 25px;
}

  
a, button {
  text-transform: uppercase;
  text-align: center;
}

a:hover {
color: #31a331;
}

.main-ind-page {
  justify-content: center;
  text-align: center;
}

h1 {
  font-size: 2em;
}

h3 {
  font-size: 1.1em;
}

.header-ind-page, a, .main-ind-page  {
  position: relative;
  z-index: 2;
  color: #fff;
  font-family: fontawesome-webfont;
}


button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}


.slider-one {
  position: absolute;
  height: 15%;
  width: 160px;
  margin-top: 20px;
  z-index: 2;
  font-family: fontawesome-webfont;
  font-weight: bold;
  text-align: center;
  bottom: 0;
  left: calc(50% - 80px);
  
}

.bg-point{
  display: inline-block;
  width: 40px;
  height: 10px;
  background-color: rgb(99, 180, 18);
  background-repeat: repeat-x;
  padding-right: 5px;
}



/*content-second*/
/* best-cervices*/

.content-second {
  width: 100%;
  height: 100vh;
}


.services {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template:
  "svg-icon-1 svg-icon-2 svg-icon-3" 1fr
  "item1 item2 item3" 3fr
  "svg-icon-4 svg-icon-5 svg-icon-6" 1fr
  "item4 item5 item6" 3fr
  "footer-services footer-services footer-services" 3fr
  ;
  text-align: center;
  margin-top: 25px;
  justify-items: center;
  align-items: center;
  column-gap: 100px;
}

.item-servis-name {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}   


 

/* SVG-icons*/

.svg-icon-1,
.svg-icon-2,
.svg-icon-3,
.svg-icon-4,
.svg-icon-5,
.svg-icon-6 {
  width: 100px;
  height: 100px;
}

.svg-icon-1 {
   fill: red;  
}

.svg-icon-2 {
  fill: rgb(56, 180, 221);  
}
.svg-icon-3 {
  fill: rgb(167, 167, 53);  
}

.svg-icon-4 {
  fill: violet;  
}

.svg-icon-5 {
  fill: red;  
}

.svg-icon-6 {
  fill: green;  
}


.icon-servis.svg-icon-1 {
  grid-area: svg-icon-1;
}

.icon-servis.svg-icon-2 {
  grid-area: svg-icon-2;
}

.icon-servis.svg-icon-3 {
  grid-area: svg-icon-3;
}

.icon-servis.svg-icon-4 {
  grid-area: svg-icon-4;
}

.icon-servis.svg-icon-5 {
  grid-area: svg-icon-5;
}

.icon-servis.svg-icon-6 {
  grid-area: svg-icon-6;
}

.item-servis-one {
  grid-area: item1;
  }

.item-servis-two {
  grid-area: item2;
}

.item-servis-three {
  grid-area: item3;
}
.item-servis-four {
  grid-area: item4;
}

.item-servis-five {
  grid-area: item5;
}

.item-servis-six {
  grid-area: item6;
}


.slider-two {
  grid-area: footer-services;
 
}

.slider-two-content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template:
  "svg" 2fr
  "content-slider-two"2fr
  "name"1fr
  "slider-point" 1fr
  ;
  justify-items: center;
  align-items: center;
 
  row-gap: 30px;
 
}

.slider-two-svg {
  grid-area: svg;
}

.slider-two-text {
  grid-area: content-slider-two;
}

.slider-two-name {
  grid-area: name;
}

.slider-two-points {
  grid-area: slider-point;
}

.svg-dragon {
  width: 50px;
  height: 50px;
  color: rgb(99, 180, 18);
  padding: 5px;
}

.slider-two-text {
  width: 50%;
  color:rgb(201, 199, 199);
  position: relative;
  z-index: 0;
}

.bg-slider-two {
  width: 100%;
  height: 35vh;
  position: absolute;
  background-image: url('assets/images/bg-4.jpg');
  filter: brightness(50%);
  z-index: 1;
}

.slider-two-content {
  position: relative;
  z-index: 1;
}

.slider-two-name {
  color: rgb(51, 211, 184);
}




.slider-two-points .bg-point {
  width: 10px;
  height: 10px;
  background-color: lightslategray;
  border-radius: 100%;
}


.slider-two-points div:first-child,
.slider-two-points div:last-child {
  background-color: gray;
}


  
  
  /* .item-img1:before {
    content: url(assets/images/edit-solid.svg);
    width: 25px;
    height: 25px;
    color: orange;
  } */
  
  
  /*contact-us*/
  .contact-us {
    text-align: center;
  }
  
  /* form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
  } */
  main {
    min-width: 800px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    margin: 100px auto auto auto;
  }
  
  input {
    width: 45%;
    justify-content: flex-start;
  }
  
.submit {
  align-items: center;
}

.footer-contact-us {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: #cccfd1;
  padding: 10px;
  justify-content: space-around;
  justify-items: center;
  align-items: center;

}

.item6 {
  grid-row: 2 / 4;
}

.foter-contact-us>div {
  width: 150px;
}

.footer-black-line {
  height: 50px;
  background-color: black;
  color: cornsilk;
  text-align: center;
  padding: 20px;
  
}
