body {
    width: 100%;
    height: 100%;
    margin: 0;
}

main {
    width: 100%;
    min-height: calc(100vh - 120px);
    position: relative;
}

.main-text {
    position: relative;
    padding-top: 25px;
    text-align: justify;
    box-sizing: border-box;
    padding: 10px;
    
}
.main-text>div {
    padding-top: 15px;
   
}

.left-side {
    position: sticky;
    width: 250px;
    min-height: calc(100vh - 120px);
    float: left;
    background-color: darkgoldenrod;
    margin-right: 10px;
    z-index: 1;
}

ul {
    color: rgb(70, 70, 182);
}

[alt^="footbal"] {
    width: 250px;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}    

h1 {
    margin: 0;
    font-size: large;
    text-transform: uppercase;
    text-align: center;
    
}

aside {
    position: absolute;
    width: 50px;
    height: 100%;
    background-image: url(img/ball2.png);
    background-size: 45px;
    background-repeat: repeat-y;
    right: 0;
    opacity: .6;
    z-index: -1;
}

.rules {
    margin-top: 5px;
}

.sports {
    width: 250px;
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
}

header,
footer {
    width: 100%;
    height: 60px;
    background-color: steelblue;
    color: mediumblue;
    text-align: center;
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
    box-sizing: border-box;
    padding-top: 15px;
   
}

footer {
    clear: both; 
}